<% include partials/header.ejs %>
<h1><%= title %></h1>

<p>Jamie Shannon is a student in his second year of the Computer Programmer Analyst program at Georgian College. Prior
to attending Georgian College, Jamie studied at the University of Western Ontario and completed a Bachelor of Management
and Organizational Studies with a Specialization in Accounting and Major in Music. Jamie has experience working for the
Town of Bradford West Gwillimbury developing a PHP Web Applications and providing IT support. When not working, Jamie
enjoys playing the clarinet, guitar and piano, reading science fiction and fantasy novels, and cheering for the Toronto
Blue Jays</p>

<% include partials/footer.ejs%>