<% include partials/header.ejs %>
<h1><%= title %></h1>

<p>To view some of the projects that I have worked on, check out my <a href="https://github.com/jamieshannon">GitHub
        Profile</a> </p>

<% include partials/footer.ejs%>