<% include partials/header.ejs %>
<h1><%= title %></h1>
<p>I have experience working with and can contrubute to projects that use the following technologies:
<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>CSS</li>
    <li>MEAN Stack</li>
    <li>Java</li>
    <li>C#</li>
</ul>

<% include partials/footer.ejs%>